body {
    background-color: rgb(48, 41, 41);
}
.contenedor1 {
    background-color: #1D242C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;

}
.contenedor2 {
    background-color:  #232C36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
   
}
.sillasIzquierda, .sillasCentro ,.sillasDerecha {

width: 400px;
height: 50px;
}
.sillasIzquierda {
    padding-left: 15px;
}

.boton {
    background-color:#84acbd5b;
    width: 60px;
    height: 50px;
    border-radius: 3px;
    border: none;
}
.p{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content:center ;
    overflow: hidden;
}
img {
    width: 35px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 27px;
   
}
.selecion, .title {
    background-color: rgba(0, 0, 0, 0.34);
    background-image:url();
    width: 195vh;
    height: 100px;
}
.selecion {
display: flex;
justify-content: center;
align-items: center;
  
}
.title {
   display: flex;
   justify-content: center;
   
    height: 100px;
}
h1{
    color: rgb(171, 196, 218);
    font-size: 50px;
}
.selecionado {
    display: flex;

width: 200px;
height: 60px;
}
.parrafo {
    font-size: 20px;
    padding-left: 5px;
}
.parrafo2 {
    font-size: 20px;
    padding-left: 5px;
    background-color: rgb(221, 255, 0);
}